#!/bin/sh
export TERMINAL="/usr/bin/mate-terminal"
export WINIT_X11_SCALE_FACTOR=1
export MOZ_USE_XINPUT2=1
#export QT_STYLE_OVERRIDE=Windows
#export QT_QPA_PLATFORMTHEME=gtk3
export GTK_THEME=Adwaita:dark
eval $(ssh-agent)

xset b off
xcape -e "Alt_L=Escape;Super_L=Control_L|H" -t 400
unclutter --ignore-scrolling &
playerctld daemon

if [ -d ~/.xprofile.d ] ; then
 for f in ~/.xprofile.d/?*.sh ; do
  [ -x "$f" ] && . "$f"
 done
 unset f
fi
